@font-face {
  font-family: 'Golos-Regular';
  src: url("../fonts/Golos-Regular.eot");
  src: url("../fonts/Golos-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Regular.woff2") format("woff2"), url("../fonts/Golos-Regular.woff") format("woff"), url("../fonts/Golos-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Golos-Medium';
  src: url("../fonts/Golos-Medium.eot");
  src: url("../fonts/Golos-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Medium.woff2") format("woff2"), url("../fonts/Golos-Medium.woff") format("woff"), url("../fonts/Golos-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: '../fonts/Golos-Black';
  src: url("../fonts/Golos-Black.eot");
  src: url("../fonts/Golos-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Golos-Black.woff2") format("woff2"), url("../fonts/Golos-Black.woff") format("woff"), url("../fonts/Golos-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100vw; }

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover {
    text-decoration: none; }

body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #111111;
  background-color: white;
  overflow-x: hidden; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  z-index: 20;
  background-color: #070E1E;
  border-bottom: 2px solid #141F34; }

h1 {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: white;
  margin-bottom: 3vw; }

h2 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px; }

h3 {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin: 20px 0; }

h4 {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  color: #FFFFFF; }
  h4.green {
    color: #30D6BC; }

h5 {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF; }

section {
  width: 100%;
  margin: auto;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000; }

a.m-btn, button.m-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 180px;
  height: 60px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 15px;
  background: -o-linear-gradient(349.78deg, #0066FF 0%, #2CE0C5 100%);
  background: linear-gradient(100.22deg, #0066FF 0%, #2CE0C5 100%);
  border-radius: 10px;
  font-family: 'Golos-regular', sans-serif;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  margin-top: 40px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a.m-btn:focus, a.m-btn:hover, button.m-btn:focus, button.m-btn:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; }

.m-navbar {
  max-width: 1450px;
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0; }
  .m-navbar .navbar-collapse {
    -webkit-box-flex: inherit;
    -ms-flex-positive: inherit;
    flex-grow: inherit;
    padding-top: 16px; }
  .m-navbar .nav-item {
    margin-left: 40px;
    position: relative; }
    .m-navbar .nav-item .nav-link {
      font-family: 'Golos-Regular', sans-serif;
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      color: #A3ADB9;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: nowrap; }
    .m-navbar .nav-item.active a {
      color: #2ADBC8 !important; }
  .m-navbar .navbar-toggler, .m-navbar .navbar-toggler:focus, .m-navbar .navbar-toggler:hover {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .m-navbar .mobile-logo {
    display: none; }
  .m-navbar .navbar-brand {
    width: 20vw;
    min-width: 140px;
    padding: 12px 0;
    padding-bottom: 0; }
    .m-navbar .navbar-brand img {
      width: 100%;
      max-width: 140px; }

span.color-blue {
  color: #016AFD; }

span.color-green {
  color: #30D6BC; }

.header-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.select2-container {
  margin-left: 60px;
  width: 84px !important; }

.select2-container--default .select2-selection--single {
  background-color: #ffffff70;
  border: none;
  border-radius: 6px;
  padding: 6px;
  height: 35px; }
  .select2-container--default .select2-selection--single:focus {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.select2-search--dropdown {
  display: none; }

.select2-dropdown {
  -webkit-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  transform: translateX(-60px);
  border: none; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #ececec;
  color: #333333;
  font-size: 18px;
  line-height: 1.8; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  position: relative;
  padding-left: 20px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered:before {
    content: url("../img/globe.svg");
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%); }

.select2-results__option--selectable {
  font-size: 18px;
  line-height: 1.8;
  padding: 0;
  padding-left: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
  right: 18px; }

.lang-select-mobile {
  display: none; }

.gradient-color {
  background: -webkit-gradient(linear, left top, left bottom, from(#070E1E), to(#0F243F));
  background: -o-linear-gradient(top, #070E1E 0%, #0F243F 100%);
  background: linear-gradient(180deg, #070E1E 0%, #0F243F 100%); }

.bg-color {
  background-color: #F8F8F8; }

.main-page {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  width: 90%;
  max-width: 1450px; }
  .main-page .text-block {
    width: 60%; }
    .main-page .text-block.w-50 {
      width: 50%; }
  .main-page .img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%; }
    .main-page .img-block.w-50 {
      width: 50%; }
    .main-page .img-block img {
      width: 100%; }
  .main-page p {
    font-family: 'Golos-Medium', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 1.5;
    color: #FFFFFF;
    max-width: 530px; }
  .main-page .link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px; }
    .main-page .link-box a {
      margin-right: 20px; }
      .main-page .link-box a img {
        width: 100%; }

.center-block {
  max-width: 1450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 60px 0;
  margin: auto; }
  .center-block h2 {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF; }

.min-text h2 {
  font-size: 36px;
  max-width: 570px; }
.min-text p {
  max-width: 570px; }

.bg-img {
  background-image: url("../img/all.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 120px;
  position: relative; }
  .bg-img:before {
    content: url("../img/oval.svg");
    position: absolute;
    bottom: 22px;
    width: 15vw;
    left: 0; }

.advantages-block {
  width: 100%;
  max-width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 64px; }
  .advantages-block .advantages-item {
    width: 260px;
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    letter-spacing: -0.500211px;
    color: rgba(255, 255, 255, 0.7); }

.two-block {
  width: 90%;
  max-width: 1450px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: auto; }
  .two-block .column {
    width: 45%; }
    .two-block .column .img {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .two-block .column .img img {
        width: 100%; }
    .two-block .column .text {
      width: 100%;
      padding-right: 50px; }
    .two-block .column.w-60 {
      width: 60%; }
    .two-block .column.w-40 {
      width: 40%; }

.police-page {
  padding-bottom: 200px; }
  .police-page .caption {
    text-align: left;
    margin-left: 0; }
  .police-page p {
    font-size: 24px;
    margin-bottom: 16px; }
  .police-page h4 {
    font-size: 36px;
    margin-bottom: 16px;
    margin-top: 26px; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #070E1E;
  position: relative; }
  footer:before {
    content: url("../img/cf.svg");
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    z-index: 0; }
  footer .footer-content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 45px 0; }
    footer .footer-content .column-left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column; }
    footer .footer-content .column-right {
      display: flex; }
  footer .corp {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.9;
    color: rgba(255, 255, 255, 0.4);
    margin: 20px 0;
    margin-top: 10px; }
  footer .soc-box {
    min-width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    footer .soc-box a {
      margin-right: 22px; }
      footer .soc-box a:nth-last-child(1) {
        margin-right: 0; }
      footer .soc-box a svg {
        width: 24px; }
      footer .soc-box a:hover {
        opacity: 0.6; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 90px; }
  .footer-nav:nth-last-child(1) {
    margin-right: 0; }
  .footer-nav a {
    font-family: 'Golos-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.9;
    color: #FFFFFF; }
    .footer-nav a.nav-caption {
      font-family: 'Golos-Black', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 1.9;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 16px; }

ul {
  list-style: none; }

ul li {
  margin-bottom: 16px;
  font-family: 'Gilroy', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000; }

.tabs-wrapper {
  position: relative; }
  .tabs-wrapper .tab_item {
    display: none; }
  .tabs-wrapper .tab_item:first-child {
    display: block; }
  .tabs-wrapper .tabs {
    position: absolute;
    left: 54%;
    top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tabs-wrapper .tabs .tab {
      background: #FFFFFF;
      border: 1px solid #EAE9F2;
      border-radius: 10px;
      padding: 16px 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.2;
      color: #151D28;
      margin-right: 20px;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      cursor: pointer; }
      .tabs-wrapper .tabs .tab:hover {
        background: -o-linear-gradient(349.78deg, #0066FF 0%, #2CE0C5 100%);
        background: linear-gradient(100.22deg, #0066FF 0%, #2CE0C5 100%);
        border-radius: 10px;
        color: white; }
      .tabs-wrapper .tabs .tab.active {
        background: -o-linear-gradient(349.78deg, #0066FF 0%, #2CE0C5 100%);
        background: linear-gradient(100.22deg, #0066FF 0%, #2CE0C5 100%);
        border-radius: 10px;
        color: white; }

.column.padd-top {
  padding-top: 130px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .column.padd-top .link-box {
    margin-top: 75px; }
    .column.padd-top .link-box a {
      margin-right: 16px; }
      .column.padd-top .link-box a:nth-last-child(1) {
        margin-right: 0; }

.val-item {
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
  color: #151D28;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .val-item svg {
    margin-right: 24px;
    min-width: 50px; }

.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content; }
  .about-page h4 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    margin-bottom: 16px; }
  .about-page p {
    max-width: 570px; }

.column.founded {
  padding-left: 100px;
  position: relative; }
  .column.founded .before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120%; }
  .column.founded .val-item {
    font-family: 'Golos-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: #444A53; }
    .column.founded .val-item span {
      background: -webkit-linear-gradient(#0066FF, #2CE0C5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-left: 8px; }

.team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 150px;
  margin-top: 60px; }
  .team-box .team__item {
    width: 15%;
    min-width: 15%;
    margin-bottom: 16px;
    margin-right: 10px; }
    .team-box .team__item:nth-child(2n) {
      margin-top: 90px; }
    .team-box .team__item:hover {
      color: black; }
    .team-box .team__item .team-img {
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 280px; }
      .team-box .team__item .team-img img {
        min-width: 100%;
        width: 100%;
        min-height: 100%;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -o-object-fit: cover;
        object-fit: cover; }
      .team-box .team__item .team-img:hover img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }

.team-name {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #000000;
  margin-bottom: 4px;
  margin-top: 16px; }

.team-position {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #000000; }

.form-column {
  position: relative; }
  .form-column:before {
    content: url("../img/circle.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1; }

.contact-form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.15);
  box-shadow: 0px 32px 34px rgba(28, 27, 32, 0.15);
  border-radius: 8px;
  width: 100%;
  padding: 60px 85px; }
  .contact-form .form-group {
    width: 100%; }
    .contact-form .form-group input, .contact-form .form-group textarea {
      width: 100%;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #FFFFFF;
      border: 2px solid #EAE9F2;
      border-radius: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.4);
      height: 71px;
      padding: 30px 25px;
      font-family: 'Golos-Rgular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: -0.562737px;
      color: #696871; }
      .contact-form .form-group input::-webkit-input-placeholder, .contact-form .form-group textarea::-webkit-input-placeholder {
        font-family: 'Golos-Rgular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.562737px;
        color: #696871; }
      .contact-form .form-group input::-moz-placeholder, .contact-form .form-group textarea::-moz-placeholder {
        font-family: 'Golos-Rgular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.562737px;
        color: #696871; }
      .contact-form .form-group input:-ms-input-placeholder, .contact-form .form-group textarea:-ms-input-placeholder {
        font-family: 'Golos-Rgular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.562737px;
        color: #696871; }
      .contact-form .form-group input::-ms-input-placeholder, .contact-form .form-group textarea::-ms-input-placeholder {
        font-family: 'Golos-Rgular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.562737px;
        color: #696871; }
      .contact-form .form-group input::placeholder, .contact-form .form-group textarea::placeholder {
        font-family: 'Golos-Rgular', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -0.562737px;
        color: #696871; }
  .contact-form button {
    width: 100%; }

.contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contacts-box .contacts-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contacts-box .contacts-column .contacts-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-family: 'Gilroy-Medium', sans-serif;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
      min-width: 275px;
      margin-bottom: 50px; }
      .contacts-box .contacts-column .contacts-item a {
        color: rgba(0, 0, 0, 0.87);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .contacts-box .contacts-column .contacts-item a:hover {
          color: rgba(0, 0, 0, 0.6); }

.align-end {
  min-height: 620px;
  height: auto;
  background-image: url("../img/hous.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .align-end h4 {
    margin-top: 40px;
    max-width: 1045px;
    width: 90%; }

.bottom-block {
  background: -webkit-gradient(linear, left top, left bottom, from(#0F243F), to(#0b1323));
  background: -o-linear-gradient(top, #0F243F 0%, #0b1323 100%);
  background: linear-gradient(180deg, #0F243F 0%, #0b1323 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .bottom-block:after {
    position: absolute;
    content: url("../img/oval-right.svg");
    right: 0;
    bottom: -10px;
    z-index: 1; }
  .bottom-block h4 {
    font-size: 48px;
    width: 90%;
    max-width: 1110px; }
  .bottom-block .link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 60px auto 50px auto; }
    .bottom-block .link-box a {
      margin-right: 12px; }
      .bottom-block .link-box a:nth-last-child(1) {
        margin-right: 0; }

.pro-block {
  background: #0169FE;
  -webkit-box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
  box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
  border-radius: 10px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 1110px;
  margin: auto;
  margin-bottom: 82px; }
  .pro-block .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .pro-block .description .text-block p {
      font-family: 'Golos-Regular', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.7);
      margin-top: 14px; }
    .pro-block .description svg {
      margin-right: 45px; }

.black-button {
  width: 230px;
  height: 61px;
  background: #14213A;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Golos-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF; }

@media (max-width: 1440px) {
  .column.founded {
    padding-left: 0; }

  .column.founded .before {
    display: none; }

  .contact-form {
    padding: 25px; } }
@media (max-width: 1200px) {
  h1 {
    font-size: 32px;
    margin-bottom: 15px; }

  .main-page .text-block {
    margin-top: 90px; }
  .main-page h2 {
    font-size: 20px;
    margin-bottom: 40px; }

  section {
    padding: 60px 0; }

  h2 {
    font-size: 38px; }

  .center-block h2 {
    font-size: 38px; }

  .advantages-block {
    margin-top: 0; }

  .bottom-block h4 {
    font-size: 30px; }

  .center-block {
    padding-top: 0; }

  p {
    font-size: 20px; }

  .val-item {
    font-size: 18px; }

  .main-page .center-block h1 {
    font-size: 38px; }
  .main-page .center-block h2 {
    font-size: 24px; }

  .advantages-block .advantages-item {
    font-size: 16px; }

  .form-column:before {
    display: none; }

  .column.founded .val-item {
    font-size: 24px; }

  .bg-img {
    background: -webkit-gradient(linear, left top, left bottom, from(#0F243F), to(#070E1E));
    background: -o-linear-gradient(top, #0F243F 0%, #070E1E 100%);
    background: linear-gradient(180deg, #0F243F 0%, #070E1E 100%);
    overflow: hidden; }
    .bg-img:before {
      bottom: -175px; }

  .bottom-block:after {
    right: -100px;
    bottom: -100px; }

  .footer-nav {
    margin-right: 60px; } }
@media (max-width: 990px) {
  .main-page p {
    text-align: center;
    width: 90%;
    font-size: 18px;
    margin: auto; }

  .m-navbar {
    height: 80px; }
    .m-navbar .navbar-collapse {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: white;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background: -webkit-gradient(linear, left top, left bottom, from(#070E1E), to(#0F243F));
      background: -o-linear-gradient(top, #070E1E 0%, #0F243F 100%);
      background: linear-gradient(180deg, #070E1E 0%, #0F243F 100%); }
      .m-navbar .navbar-collapse.show {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .m-navbar .navbar-collapse .menu-mobile-head {
        width: 100%;
        padding: 30px 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
      .m-navbar .navbar-collapse .navbar-nav {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 60vh; }
        .m-navbar .navbar-collapse .navbar-nav .nav-item {
          margin-left: 0; }
          .m-navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
            font-size: 20px; }
    .m-navbar .mobile-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

  .main-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: auto;
    margin-top: 0;
    width: 100%; }
    .main-page .text-block {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 40px; }
      .main-page .text-block.w-50 {
        width: 100% !important; }
      .main-page .text-block h1, .main-page .text-block h2 {
        text-align: center;
        display: block;
        margin: 30px auto; }
    .main-page .img-block {
      margin-top: 50px;
      width: 100%;
      max-width: 300px;
      min-height: auto;
      background-size: cover;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      overflow: hidden; }
      .main-page .img-block.w-50 {
        width: 100% !important;
        margin-left: 35px; }
    .main-page .link-box {
      margin-top: 5vw;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }

  h2 {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 50px; }

  p {
    font-size: 16px; }

  .lang-select {
    margin-left: 0;
    color: white; }

  h4 {
    font-size: 16px; }

  ul li {
    font-size: 16px; }

  footer .footer-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start; }
    footer .footer-content .column-left {
      align-items: center;
      margin-bottom: 20px; }
    footer .footer-content .column-right {
      flex-direction: column;
      align-items: center; }

  .footer-nav {
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px; }

  .police-page {
    margin-top: 60px;
    padding-bottom: 80px; }
    .police-page .caption {
      text-align: left;
      margin-left: 0;
      font-size: 24px;
      width: 100%; }
    .police-page p {
      font-size: 16px;
      margin-bottom: 16px; }

  .police-page h4 {
    font-size: 24px; }

  .min-text h2 {
    font-size: 24px; }

  footer .content .link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .content .link-box a {
      margin-right: 0; }

  .values-box {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .values-box .values-item {
      width: 48%; }

  .team-box .team__item {
    width: 25%; }

  .about-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px;
    margin-top: 90px; }

  header {
    height: 75px; }

  .tabs-wrapper .tabs .tab {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px; } }
@media (max-width: 768px) {
  .align-end {
    min-height: 450px; }

  .two-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0; }
    .two-block .column {
      width: 100%;
      margin-bottom: 30px; }
      .two-block .column .img {
        max-width: 300px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .two-block .column .img.mobile-ml img {
          margin-left: 60px;
          max-width: 270px; }
      .two-block .column .text {
        padding-right: 0; }
        .two-block .column .text h2 {
          display: block;
          text-align: center;
          margin-top: 25px; }
        .two-block .column .text p {
          display: block;
          text-align: center; }

  .two-block .column .img.img-indent img {
    margin-left: 60px;
    max-width: 270px; }

  .two-block .column .img.img-indent-40 img {
    margin-left: 40px;
    max-width: 270px; }

  footer .content .link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer .content .link-box a {
      margin-right: 0; }

  footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .content .soc-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 250px;
      margin: 20px auto; }
      footer .content .soc-box a {
        margin-right: 0; }
    footer .content .corp {
      text-align: center;
      font-size: 14px;
      margin: auto; }

  .footer-contacts {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0;
    text-align: center; }
    .footer-contacts.flex-end {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

  .two-block a.m-btn, button.m-btn {
    margin: auto;
    margin-top: 25px; }

  .two-block .column .text.text-w-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 500px;
    margin: auto; }
    .two-block .column .text.text-w-number .link-box {
      margin: auto;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin-top: 20px; }

  .footer-nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-nav a {
      max-width: 280px;
      text-align: center; }

  .footer-nav, .footer-contacts {
    width: 100%; }

  .lang-select-mobile {
    display: block; }

  .text-w-number__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    margin-top: 25px; }

  .two-block .column.w-60 {
    width: 100%; }

  .two-block .column.w-40 {
    width: 100%; }

  .two-block.mobile-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }

  .contacts .text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  .tabs-wrapper .tabs {
    position: static;
    margin: auto;
    margin-top: 35px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .column.padd-top .link-box {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .column.padd-top .link-box a {
      margin-right: 0; }

  .column.padd-top {
    padding-top: 0; }

  .bottom-block .link-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .bottom-block .link-box a {
      margin-right: 0;
      margin-bottom: 12px; }

  .bottom-block:after {
    display: none; }

  .pro-block {
    padding: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .pro-block .description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px; }
      .pro-block .description svg {
        margin-right: 0;
        margin-bottom: 20px; }
      .pro-block .description h5 {
        font-size: 20px;
        text-align: center; }
      .pro-block .description p {
        font-size: 16px;
        text-align: center; } }
@media (max-width: 640px) {
  h1 {
    font-size: 24px; }

  .main-page .link-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-page .link-box a {
      margin: auto; }
  .main-page h2 {
    font-size: 16px; }

  .collapse-box .collapse-content .qr-text-code {
    overflow-x: scroll; }

  .values {
    padding: 40px 0; }

  .values-box .values-item {
    padding-right: 0;
    width: 100%; }

  h3 {
    text-align: center;
    font-size: 24px; }

  .values-item.align-items-center {
    max-width: 100%;
    width: 100%; }
    .values-item.align-items-center h5 {
      font-size: 24px; }

  .big-text-block h4 {
    font-size: 20px; }
  .big-text-block .big-text {
    font-size: 22px;
    margin-left: 25px;
    white-space: nowrap; }
    .big-text-block .big-text span img {
      width: 50px; }

  .caption {
    font-size: 32px;
    width: 90%; }

  .rules-block .rules-item {
    width: 100%; }

  .two-block {
    padding: 0; }

  .main-products {
    height: 650px; }

  .values-item.item-4 {
    width: 90%; }

  .team-box .team__item {
    width: 46%; }

  .team-box .team__item:nth-child(2n) {
    margin-top: 0; }

  .main-page .center-block h1 {
    font-size: 26px; }

  section {
    padding: 20px 0; }

  .team-name {
    font-size: 18px; }

  .team-position {
    font-size: 16px; }

  .bg-img {
    background-color: #0F243F;
    background-image: none; }
    .bg-img .center-block {
      padding-bottom: 130px; }

  .column.founded .val-item {
    font-size: 18px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/*# sourceMappingURL=style.css.map */
